.root {
  margin-top: 24px;
  padding: 0 16px;
  text-align: left;
}

.title {
  font-size: 24px;
  text-decoration: underline;
}

.body {
  font-size: 18px;
}

.dateCreated {
  font-size: 14px;
  font-style: italic;
}
